<a href="https://colab.research.google.com/github/weltondionisio/Projetos_de_programacao_em_Python/blob/main/VAI_Academy_Prova_tecnica_2022_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <center>Seleção VAI Academy 2022.1</center>
# <center> Prova Técnica </center>
___

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### Questão 1
*Favor utilizar o **cabeçalho fornecido** na célula de código para construção da função. Você pode criar outras células de código para testar seu algoritmo.*<br><br>

Escreva o corpo da função `questao1_is_palindrome(text)` em Python, que determine se um texto é palíndromo. Segundo o *Wikipedia*:

> *Palíndromo é uma palavra, frase ou número que permanece igual quando lida de trás para diante. Por extensão, palíndromo é qualquer série de elementos com simetria linear, ou seja, que apresenta a mesma sequência de unidades nos dois sentidos.*

Exemplos de retorno da função:

```
# questao1_is_palindrome("a") = True
# questao1_is_palindrome("aba") = True
# questao1_is_palindrome("abc") = False
# questao1_is_palindrome("socorrammesubinoonibusemmarrocos") = True
# questao1_is_palindrome("palindrome") = False
```

In [ ]:
def questao1_is_palindrome(text):
  '''Função que checa se um texto é palíndromo.'''
  if text == text[::-1]:
    return True
  else:
    return False

---

### Questão 2
*Favor preencher o conteúdo da variável **resposta_questao2** com a **letra** correspondente à alternativa desejada. Você pode criar outras células de código para resolver o exercício.*<br><br>

**Para esta questão, utilizaremos a base de dados fornecida junto ao notebook. Realize a importação da base pelo Pandas para conseguir responder as perguntas.**<br><br>

A base de dados em questão nos traz algumas características dos Pokémons das 6 primeiras gerações, como Nome, Tipo 1 e Tipo 2 (alguns Pokémons possuem dois tipos distintos, por isso o uso de duas colunas), HP, Força de Ataque, entre outros. Quantos Pokémons possuem **apenas um tipo**?<br> 

A) 391

B) 386

C) 312

D) 327

In [ ]:
import pandas as pd
pkm = pd.read_csv('/content/drive/MyDrive/provaimersao/pokemon.csv', sep=',')
pkm.info()
800-414

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

386

In [ ]:
resposta_questao2 = 'B'

---
*Favor preencher o conteúdo da variável **resposta_questao3** com a **letra** correspondente à alternativa desejada. Você pode criar outras células de código para resolver o exercício.*<br><br>
### Questão 3
Os Pokémons do tipo Pedra (**Rock**) são conhecidos por serem mais resistentes, e terem status mais altos de defesa. Para ser considerado um Pokémon do tipo Pedra, é necessário que apenas um dos seus tipos (**Type 1** ou **Type 2**) seja Pedra. Qual é a média de defesa de Pokémons do tipo Pedra (arredondada para o inteiro mais próximo)?<br> 

A) 93

B) 110

C) 131

D) 107

In [ ]:
pkm.rename(columns={'Type 1':'Type_1', 'Type 2':'Type_2'}, inplace = True)
pkm[(pkm.Type_1 == 'Rock')|(pkm.Type_2 == 'Rock')].Defense.mean()

107.08620689655173

In [ ]:
resposta_questao3 = 'D'

---
*Favor preencher o conteúdo da variável **resposta_questao4** com a **letra** correspondente à alternativa desejada. Você pode criar outras células de código para resolver o exercício.*<br><br>
### Questão 4
Pokémons lendários (**Legendary**) são um grupo de Pokémons incrivelmente raros e poderosos. Comumente estão associados à lendas e mitos do mundo Pokémon. Quantos Pokemons lendários existem em cada geração? (1ª a 6ª)<br>

A) 6, 5, 18, 13, 15, 8

B) 6, 5, 15, 14, 16, 10

C) 7, 5, 18, 11, 10, 9

D) 5, 5, 15, 14, 17, 8

In [ ]:
pkm.groupby('Generation').Legendary.sum()

Generation
1     6
2     5
3    18
4    13
5    15
6     8
Name: Legendary, dtype: int64

In [ ]:
resposta_questao4 = 'A'

---
*Favor preencher o conteúdo da variável **resposta_questao5** com a **letra** correspondente à alternativa desejada. Você pode criar outras células de código para resolver o exercício.*<br><br>
### Questão 5
Alguns Pokémons possuem uma versão Mega, uma transformação temporária que afeta e melhora alguns de seus status. Pokémons que possuem esta transformação podem ser identificados por possuir a palavra **Mega** como parte de seu nome. Qual é a média de ataque dos Pokémons comuns e dos Pokémons Mega, respectivamente (arredondados para o inteiro mais próximo)?

**Dica:** Meganium e Yanmega não são Pokémons Mega.

A) 76, 126

B) 89, 130

C) 75, 127

D) 71, 145

In [ ]:
def mega_evo(pokm):
  '''Função que checa se um Pokémon é Mega Evolução.'''
  if 'Mega ' in pokm:
        return True
  else:
        return False
pkm['Mega'] = pkm.apply(lambda row: mega_evo(row['Name']), axis=1)
pkm.groupby('Mega')[['Attack']].mean()

           Attack
Mega
False   75.986702
True   126.229167

In [ ]:
resposta_questao5 = 'A'

---
*Favor preencher o conteúdo da variável **resposta_questao6** com o **valor** correspondente à sua resposta. Você pode criar outras células de código para resolver o exercício.*<br><br>
### Questão 6
Considere que temos tuplas contendo registros passagens de ônibus. As tuplas são organizadas de forma que os elementos estão sempre nessa ordem:
* Cidade de Origem (ex. 'São Paulo', 'Belo Horizonte')
* Cidade de Destino
* Dia da Viagem
* Mês da Viagem
* Valor pago pelo trecho

Dada a lista ```lista_questao6``` contendo tuplas do tipo acima. Calcule o valor médio pago pelos trechos entre todos os passageiros.

In [ ]:
questao6_lista = [('Campinas', 'São Paulo', 12, 9, 24.0),
      ('São Paulo', 'Rio de Janeiro', 20, 5, 44.0),
      ('Bauru', 'Campinas', 22, 2, 39.0),
      ('Jundiaí', 'São Paulo', 26, 5, 14.0),
      ('Limeira', 'São Carlos', 10, 8, 8.0),
      ('Rio de Janeiro', 'Belo Horizonte', 7, 12, 59.0),
      ('Porto Alegre', 'Curitiba', 21, 11, 39.0),
      ('São Paulo', 'Rio de Janeiro', 15, 2, 44.0),
      ('São Carlos', 'São Paulo', 27, 9, 69.0),
      ('Porto Alegre', 'Rio de Janeiro', 2, 4, 114.0),
      ('Salvador', 'Itabuna', 15, 12, 26.0),
      ('Parintins', 'Manaus', 6, 12, 26.0),
      ('Joinville', 'Florianópolis', 17, 10, 20.0),
      ('São Paulo', 'Belo Horizonte', 16, 9, 120.0),
      ('São Paulo', 'Porto Alegre', 1, 11, 89.0)]

In [ ]:
import numpy as np
arr = np.array(questao6_lista)
arr2 = arr[:, 4].astype(float)
np.mean(arr2)

49.0

In [ ]:
resposta_questao6 = 49

---
*Favor preencher o conteúdo da variável **resposta_questao7** com o **valor** correspondente à sua resposta. Você pode criar outras células de código para resolver o exercício.*<br><br>
### Questão 7
Considere a mesma lista anteriormente utilizada. Calcule quantas passagens possuem como origem as cidades 'São Paulo' ou 'Porto Alegre' e são referentes ao mês de março ou posterior?

In [ ]:
df = pd.DataFrame(questao6_lista)
df2 = pd.DataFrame(np.array(questao6_lista), columns=['Origem', 'Destino', 'Dia', 'Mês', "Preço"]) 
df2[(df2.Mês != '1')&(df2.Mês != '2')&(df2.Origem == 'São Paulo')|(df2.Origem == 'Porto Alegre')].count()

Origem     5
Destino    5
Dia        5
Mês        5
Preço      5
dtype: int64

In [ ]:
resposta_questao7 = 5

---
*Favor preencher o conteúdo da variável **resposta_questao8** com o **valor** correspondente à sua resposta. Você pode criar outras células de código para resolver o exercício.*<br><br>
### Questão 8
Considerando ainda a mesma lista de tuplas anterior, crie uma nova lista contendo strings constituídas pelo dia e mês da passagem no formato: `dd/mm`. Exemplo: uma passagem referente ao dia 15 de fevereiro terá como resultado `'15/2'`

A seguir, Calcule quantas dessas strings possuem tamanho maior do que 4.

In [ ]:
dia = list(df2.Dia)
mes = list(df2.Mês)
#dt2 = pd.DataFrame({'dia': df2.Dia})
#dt3 = pd.DataFrame({'mes': df2.Mês})

type(mes)
list1 = (dia,mes)
print(list1)

(['12', '20', '22', '26', '10', '7', '21', '15', '27', '2', '15', '6', '17', '16', '1'], ['9', '5', '2', '5', '8', '12', '11', '2', '9', '4', '12', '12', '10', '9', '11'])

In [ ]:
resposta_questao8 = 3

---
*Favor preencher o conteúdo da variável **resposta_questao9** com o **valor** correspondente à sua resposta. Você pode criar outras células de código para resolver o exercício.*<br><br>
### Questão 9
Considere a estrutura abaixo que contém notas de duas turmas (História e Geografia), para diferentes anos. Calcule e armazene a média das notas da turma de História em 2021 e da turma de Geografia em 2020. Qual é a diferença absoluta entre essas médias?

In [ ]:
questao9_notas = {
    'História': { 2020: [[9.0, 7.0, 6.5, 4.0, 10.0, 6.5, 8.5]],
                2021: [[8.0, 8.0, 9.5, 3.0, 6.5, 7.5, 10.0, 8.5]] },
    'Geografia': {  2018: [[10.0, 8.0, 7.5, 2.0, 5.0, 7.0, 9.5, 5.0]],
                        2019: [[8.0, 10.0, 10.0, 0.0, 6.0, 6.5, 6.5, 9.5]],
                       2020: [[9.5, 7.2, 6.0, 8.5, 3.3, 8.5, 8.0, 6.5]],
                       2021: [[5.0, 7.0, 5.5, 7.5, 6.5, 7.0, 5.5, 9.5]] }
}

In [ ]:
f = questao9_notas.get('História') 
g = f.get(2021)
gl=list(g)
print(gl, type(gl))

h = questao9_notas.get('Geografia') 
i = h.get(2020)
il=list(i)
print(il, type(il))

media9 = np.array(gl)
media9_2 = media9[::].astype(float)
print(np.mean(media9_2))

media99 = np.array(il)
media99_2 = media99[::].astype(float)
print(np.mean(media99_2))

print('A diferença absoluta é: ', (np.mean(media9_2))-(np.mean(media99_2)))

[[8.0, 8.0, 9.5, 3.0, 6.5, 7.5, 10.0, 8.5]] <class 'list'>
[[9.5, 7.2, 6.0, 8.5, 3.3, 8.5, 8.0, 6.5]] <class 'list'>
7.625
7.1875
A diferença absoluta é:  0.4375

In [ ]:
resposta_questao9 = 0.4375

---
*Favor preencher o conteúdo da variável **resposta_questao10** com o **valor** correspondente à sua resposta. Você pode criar outras células de código para resolver o exercício.*<br><br>
### Questão 10

Crie as seguintes listas:

   - lista `a` - contendo quadrados dos números `(número**2)` entre -50 e 50 (inclusive);
    
   - lista `b` - contendo cubos dos números `(número**3)` entre -25 e 25 (inclusive)
    
Em seguida, crie uma lista `resultado` que contenha os elementos da lista 2 com exceção dos elementos que estão presentes na lista 1.

Quantos elementos possui a lista `resultado`?

In [ ]:
a = list(range(-50, 51))
b = list(range(-25, 26))
def power2(my_list):
    return [ x**2 for x in my_list ]
def power3(my_list):
    return [ x**3 for x in my_list ]
a2=power2(a)
b3=power3(b)
resultado = list(set(b3) - set(a2))
print(len(resultado))

47

In [ ]:
resposta_questao10 = 47

---
*Favor preencher o conteúdo da variável **resposta_questao11** com a **letra** correspondente à alternativa desejada. Você pode criar outras células de código para resolver o exercício.*<br><br>
### Questão 11

Suponha a afirmação: "**95% das cobras no mundo possuem comprimento inferior à média**". Qual poderia ser uma possível conclusão?

A) A afirmação é falsa pois é impossível a média ser superior a 95% do valor das observações.

B) Isso só seria possível em uma distribuição Gaussiana com elevado desvio padrão.

C) Certamente mais da metade das cobras no mundo são consideradas outliers.

D) Existem algumas cobras com comprimento extraordinariamente grande.

E) Existem mais observações abaixo do primeiro quartil do que acima do terceiro quartil.

In [ ]:
resposta_questao11 = 'D'

---
*Favor preencher o conteúdo da variável **resposta_questao12** com a **letra** correspondente à alternativa desejada. Você pode criar outras células de código para resolver o exercício.*<br><br>
### Questão 12

O gráfico abaixo mostra a renda de uma amostra de jovens recém-formados. Qual alternativa é verdadeira sobre a distribuição?

![Imagem1.jpg]()

Fonte: http://www.statistics.com/

A) A média é menor do que a mediana.

B) A média é maior do que a mediana.

C) A média é igual à mediana.

D) Não podemos dizer sem calcular as medidas reais.

In [ ]:
resposta_questao12 = 'B'

---
Utilize a célula abaixo para submeter sua avaliação. Favor informar o seu **token** único, fornecido pela equipe VAI Academy, e executar o código abaixo.

In [ ]:
# LEMBRE-SE DE SALVAR O NOTEBOOK ANTES DE EXECUTAR ESSA CÉLULA
token = '5e220ce1-955f-44fb-ba11-584493d767d6' # seu token aqui

# NÃO ALTERE O CÓDIGO ABAIXO

import pickle
import requests as req
resposta_questao1 = [questao1_is_palindrome(x) for x in pickle.loads(b'\x80\x03]q\x00(X\x01\x00\x00\x00aq\x01X\x03\x00\x00\x00abaq\x02X\x03\x00\x00\x00abcq\x03X \x00\x00\x00socorrammesubinoonibusemmarrocosq\x04X\n\x00\x00\x00palindromeq\x05X\x05\x00\x00\x00araraq\x06X\x03\x00\x00\x00araq\x07X\x08\x00\x00\x00blueiulbq\x08X\x0b\x00\x00\x00abracadabraq\tX\t\x00\x00\x00abracarbaq\nX\t\x00\x00\x00abracarboq\x0bX\x04\x00\x00\x001001q\x0cX\x02\x00\x00\x0025q\rX\x01\x00\x00\x001q\x0eX\x07\x00\x00\x001010101q\x0fe.')]
exec(req.get('https://api.vai.academy/submissioncode2').text)

WARNING:googleapiclient.discovery_cache:file_cache is unavailable when using oauth2client >= 4.0.0 or google-auth
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/pydrive/files.py", line 134, in __getitem__
    return dict.__getitem__(self, key)
KeyError: 'title'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/googleapiclient/discovery_cache/file_cache.py", line 33, in <module>
    from oauth2client.contrib.locked_file import LockedFile
ModuleNotFoundError: No module named 'oauth2client.contrib.locked_file'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/googleapiclient/discovery_cache/file_cache.py", line 37, in <module>
    from oauth2client.locked_file import LockedFile
ModuleNotFoundError: No module named 'oauth2client.locked_file'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/googleapiclient/discovery_cache/__init__.py", line 44, in autodetect
    from . import file_cache
  File "/usr/local/lib/python3.7/dist-packages/googleapiclient/discovery_cache/file_cache.py", line 41, in <module>
    "file_cache is unavailable when using oauth2client >= 4.0.0 or google-auth"
ImportError: file_cache is unavailable when using oauth2client >= 4.0.0 or google-auth

Importante: lembre-se de salvar o notebook antes de rodar esta célula!
Executando o seu notebook para a submissão. Isso pode demorar alguns instantes...
>> Verificando exercicios para correção...
>> Submetendo exercício 1... "Score: 1/1"
>> Submetendo exercício 2... "Score: 1/1"
>> Submetendo exercício 3... "Score: 1/1"
>> Submetendo exercício 4... "Score: 1/1"
>> Submetendo exercício 5... "Score: 1/1"
>> Submetendo exercício 6... "Score: 1/1"
>> Submetendo exercício 7... "Score: 1/1"
>> Submetendo exercício 8... "Score: 1/1"
>> Submetendo exercício 9... "Score: 1/1"
>> Submetendo exercício 10... "Score: 1/1"
>> Submetendo exercício 11... "Score: 1/1"
>> Submetendo exercício 12... "Score: 1/1"

Tentativa de submissao #2 / 30
Aluno: Welton Dionisio da Silva
Score: 12 / 12
Parabéns!! Você atingiu os critérios para passar neste notebook.

Pontuação por exercício
Exercicio  Pontuacao Maxima  Pontuacao Obtida
        1                 1                 1
        2                 1                 1
        3                 1                 1
        4                 1                 1
        5                 1                 1
        6                 1                 1
        7                 1                 1
        8                 1                 1
        9                 1                 1
       10                 1                 1
       11                 1                 1
       12                 1                 1